* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #ffffff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #cccccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    font-size: var(--font-size-xl);
    text-transform: uppercase;
    color: var(--dark-color);
}

.section-title span {
    color: var(--secondary-color);
}

.section-title::after {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* Navbar Styles */
header {
    background: var(--primary-color);
    width: 100%;
    z-index: 5;
    position: fixed;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: all 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
    display: none;
}

/* Hero Section Styles */
.hero-section {
    min-height: 100vh;
    background: var(--primary-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", cursive;
}

.hero-section .hero-details .subtitle {
    margin-top: 20px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
    margin: 24px 0 40px;
    max-width: 70%;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: all 0.3s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}

/* About Section Styles */
.about-section {
    padding: 120px 0;
    background: var(--light-pink-color);
}

.about-section .section-content {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius-m);
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .social-link-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.about-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: color 0.3s ease;
}

.about-section .social-link-list .social-link:hover {
    color: var(--secondary-color);
}

/* Menu Section Styles */
.menu-section {
    background: var(--dark-color);
}

.menu-section .section-title {
    color: var(--white-color);
}

.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}

.menu-section .menu-list .menu-item .menu-image {
    max-width: 83%;
    aspect-ratio: 1;
    gap: 110px;
}

.menu-section .menu-list .menu-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 30px 30px;
    background: var(--white-color);
    border-radius: var(--border-radius-m);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.menu-section .menu-list .menu-item .name {
    margin: 12px 0;
    font-size: var(--font-size-l);
    color: var(--dark-color);
    font-weight: var(--font-weight-semibold);
    text-align: center;
}

/*Testimonials Section Styles */
.testimonials-section {
    padding: 50px 0 100px;
    background: var(--white-color);
}

.testimonials-section .slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}

.testimonials-section .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 35px;
}

.testimonials-section .testimonials .user-image {
    width: 200px;
    height: 200px;
    border-radius: var(--border-radius-circle);
    object-fit: cover;
    margin-bottom: 50px;
}

.testimonials-section .testimonials .name {
    font-size: var(--font-size-l);
    color: var(--dark-color);
    margin-bottom: 16px;
}

.testimonials-section .testimonials .feedback {
    font-size: var(--font-size-m);
    color: var(--dark-color);
    max-width: 600px;
    line-height: 28px;
    font-style: italic;
}

.testimonials-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondary-color);
}

.testimonials-section .swiper-slide-button {
    margin-top: -50px;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.testimonials-section .swiper-slide-button:hover {
    color: var(--primary-color);
}

/* Gallery Section Styles */
.gallery-section {
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

}

.gallery-section .gallery-list .gallery-item {
    overflow: hidden;
    width: calc(33.33% - 32px);
}

.gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-s);
    cursor: zoom-in;
}

.gallery-section .gallery-item:hover .gallery-image {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

/* Contact Section Styles */
.contact-section {
    padding: 50px 0 100px;
    background: var(--dark-color);
    color: var(--white-color);
}

.contact-section .section-title {
    color: var(--white-color);
}

.contact-section .section-content {
    display: flex;
    gap: 48px;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact-section .contact-info-list .contact-info i {
    font-size: var(--font-size-m);
    color: var(--secondary-color);
}

.contact-section .contact-form .form-input {
    width: 100%;
    padding: 12px 16px;
    outline: none;
    margin-bottom: 16px;
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-s);
    border: 2px solid var(--medium-gray-color);
}

.contact-section .contact-form {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-section .contact-form textarea.form-input {
    height: 100px;
    padding: 12px;
    resize: vertical
}

.contact-section .contact-form .form-input:focus {
    border-color: var(--secondary-color);
}

.contact-section .contact-form .submit-button {
    padding: 12px 26px;
    background: var(--secondary-color);
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
    border: 1px solid var(--secondary-color);
    width: fit-content;
}

.contact-section .contact-form .submit-button:hover {
    background: transparent;
}

/*Footer Styles */
.footer-section {
    background: var(--primary-color);
    padding: 20px 0;
    text-align: center;
    color: var(--white-color);
    font-size: var(--font-size-m);
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section .social-link-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px 0;
}

.footer-section .social-link-list .social-link {
    color: var(--white-color);
    font-size: var(--font-size-l);
    transition: color 0.3s ease;
}

.footer-section .social-link-list .social-link:hover {
    color: var(--secondary-color);
}

/* Responsive media query code for max width 1024px */
@media screen and (max-width: 1024px) {
    .menu-section .menu-list {
        justify-content: center;
    }

    .menu-section .menu-list .menu-item {
        width: calc(50% - 20px);
    }
}

/* Responsive media query code for max width 900px */
@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-close-button {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .navbar #menu-open-button {
        color: var(--white-color);
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
        transition: left 0.3s ease;
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .hero-section .section-content {
        flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
        padding: 30px 20px 20px;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle, .description),
    .about-section .about-details, .contact-section .contact-form {
        max-width: 100%;
    }

    .hero-section .hero-details .buttons {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    .about-section .section-content {
        gap: 70px;
        flex-direction: column;
    }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .gallery-section .gallery-list .gallery-item {
        width: calc(50% - 30px);
    }

    .contact-section .section-content {
        flex-direction: column-reverse;
        align-items: center;
    }
}

/* Responsive media query code for max width 640px */
@media screen and (max-width: 640px) {
    :root {
        --font-size-m: 0.9rem;
        --font-size-l: 1.1rem;
        --font-size-xl: 1.3rem;
        --font-size-xxl: 1.5rem;
    }

    .menu-section .menu-list {
        gap: 60px;
    }

    .menu-section .menu-list .menu-item,
    .gallery-section .gallery-list .gallery-item {
        width: 100%;
    }

    .testimonials-section .slider-wrapper {
        margin: 0 0 30px;
    }

    .testimonials-section .swiper-slide-button {
        display: none;
    }

    .footer-section .section-content {
        flex-direction: column;
        gap: 20px;
    }
}